<div class="cocktail-container">
  <h2>Favoritos</h2>

  <div *ngIf="favoriteCocktails().length; else noData" class="cocktail-grid">
    <div *ngFor="let cocktail of favoriteCocktails()" class="cocktail-card">
      <img [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink">
      <h3>{{ cocktail.strDrink }}</h3>
      <p>{{ cocktail.strCategory }}</p>
      <button (click)="removeFavorite(cocktail.idDrink)" class="favorite-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="favorited">
          <path fill="#FFD700"
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
      </button>
      <a [routerLink]="['/mfe-products/products/details', cocktail.idDrink]">
        Ver detalles
      </a>
    </div>
  </div>

  <ng-template #noData>
    <p class="no-data-message">No hay cócteles disponibles.</p>
  </ng-template>
</div>
<router-outlet />
